

.card__box{
    box-sizing:inherit; 
    display: block;

    // margin-bottom: 32px;
        
    &-card{
        width: 409px;
        height: 382px;
        padding: 32px; 
        flex-direction: column;
            
        display: table;
        justify-content: center;
        align-items: center;

        margin: auto;
        

        

        
        background: #FFFFFF;
 
        box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
    }
    
}