::-webkit-scrollbar{
   width: 2px;
}

::-webkit-scrollbar-track{
   border-radius: 2px;
   background: #E7E7E7; 
}

::-webkit-scrollbar-thumb{
   border-radius: 2px;
   background: #41522E;
}

.favoritelist__box {
   display: flex;
   flex-direction: column;

   gap: 40px;

   text-align: center;
   align-items: center;

   overflow: auto;

   padding: 10px;

   
   

   &-descr{
      display: flex;
      gap: 5px;
      flex-direction: column;
      
      text-align: left;
   }

   &-list{
      display: flex;
      gap: 24px;
      white-space: nowrap;
      

      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid black;
      justify-content: space-between;
   }

   &-delet{
      display: flex;
      flex-direction: column-reverse;
      gap: 24px;
      button{
         text-align: right;
         float: right;
      }
   }

   &-price{
      display: flex;
      text-align: left;
   }
}