@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@100&display=swap');

.input__box{
    &-label{
        width: 45px;
        height: 19px;

        font-family: 'Roboto';
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        


        display: flex;
        align-items: center;

        color: #424242;

        margin-bottom: 7px;


    }

    &-input{
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px;
        gap: 10px;

        width: 345px;
        height: 50px;

        background: #FFFFFF;
        border: 1px solid #C9CACC;
        border-radius: 4px;

        
    }

    input:invalid {
        background-color: ivory;
        border: none;
        outline: 2px solid red;
        border-radius: 5px;
    }

    &-error_alert{
        color:red
    }


}