.button__box{
    &-button{

        color: #fff;

        width: 345px;
        height: 50px;
        
        background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        
        margin-top: 7px;//
   
    }


    // &-hover{
    //     color: #fff;

    //     width: 345px;
    //     height: 50px;
        
    //     background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    //     box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    //     border-radius: 4px;
        
    //     margin-top: 7px;//
    // }

    &-button:disabled{
        color: #fff;

        width: 345px;
        height: 50px;

        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
        border-radius: 4px;
    }

    &-button:hover{
        color: #fff;

        width: 345px;
        height: 50px;

        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    } 
   
}
